html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	background-color: white;
	/*background-image: url('brba.png');*/
	align-items: center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
	font-size: 1em; 
	color: #bbb;
	text-decoration: none;
}
a, a:link, a:visited, a:active { 
	color: #bcbcbc;
	text-decoration: none;
	margin:0;
}
#content{
	text-align: center;
	line-height: 130%;
	padding: 75px;
}
#content a:hover {
	color: #efefef; transition: 0.5s;
}
h1 {
	color: black;
	font-family: 'Tangerine', Arial, Verdana, sans-serif;
	letter-spacing: 0.1em;
	font-size: 5em;
	margin:0;
	/*padding: 10px;*/
}
h3{
	color: white;
	font-weight: ;
}
ul{
	list-style-type: none;
}
#navbar {
	position: fixed;
	text-align: center;
	overflow: hidden;
	background-color: lightgray;
	opacity: 1;
}
#navbar a {
	/*float: center;
	display: block;*/
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	padding: 10px 16px;
}
#navbar a.active{
	background-color: blue;
}
#footer{
	background-color: black;
	border-top: 5px white;
	height: 2em;
	position: fixed;
	bottom:0;
	left:0;
	width: 100%;
	text-align: center;
	line-height: 40px;
	font-size: 17px;
	font-weight: bold;
	padding-top: 10px;
	z-index: 100;
}
#footer a{
	padding: 0px 10px;
}	
#KeyShotVR{
	margin:auto;
	z-index: 10;
}